---
AWSTemplateFormatVersion: '2010-09-09'
Description: ServiceCatalog Resource provisioning template for Serverless application
  (fdp-1p5rtpgld)
Parameters:
  ProductId:
    Type: String
  ProvisioningArtifactName:
    Type: String
    Description: The product's version name
    Default: v1.0
  LambdaName:
    Type: String
  LambdaStage:
    Type: String
    Description: test, dev, prod, ...
  S3Bucket:
    Type: String
  S3Key:
    Type: String
    Description: The full key of the lambda package path in S3 without the bucket
      name.
  Handler:
    Type: String
    Default: wsgi.handler
  Runtime:
    Type: String
    Default: python2.7
    AllowedValues:
    - nodejs
    - nodejs4.3
    - nodejs6.10
    - nodejs8.10
    - nodejs4.3-edge
    - java8
    - python2.7
    - python3.6
    - dotnetcore1.0
    - dotnetcore2.0
    - dotnetcore2.1
    - go1.x
  MemorySize:
    Type: Number
    Default: 1024
  Timeout:
    Type: Number
    Default: 5
Resources:
  SCprovisionServerless:
    Type: AWS::ServiceCatalog::CloudFormationProvisionedProduct
    Properties:
      ProvisioningParameters:
      - Key: S3Bucket
        Value:
          Ref: S3Bucket
      - Key: S3Key
        Value:
          Ref: S3Key
      - Key: LambdaName
        Value:
          Ref: LambdaName
      - Key: LambdaStage
        Value:
          Ref: LambdaStage
      - Key: Handler
        Value:
          Ref: Handler
      - Key: Runtime
        Value:
          Ref: Runtime
      - Key: MemorySize
        Value:
          Ref: MemorySize
      - Key: Timeout
        Value:
          Ref: Timeout
      ProductId:
        Ref: ProductId
      ProvisionedProductName:
        Fn::Sub: provisionServerless-${LambdaName}
Outputs:
  CloudformationStackArn:
    Description: The Cloudformation stack that was created for the product
    Value:
      Fn::GetAtt:
      - SCprovisionServerless
      - CloudformationStackArn
  ProvisionedProductID:
    Description: Provisioned product ID
    Value:
      Ref: SCprovisionServerless
